.accordions {
    display: flex;
    flex-direction: column; 
    &__content {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }
}

.accordion {
    overflow: hidden;
    &__title {
        cursor: pointer;
        display: flex;
        align-items: baseline;
        height: auto;
        .h3 {
            width: 100%;
            margin: 2rem 0;
            }
        }
        
    &__content {
        width: 100%;
        margin: 0 auto;
        border-bottom: 1px solid black;
        &--inner {
            padding: 0 4rem 2rem 0;
            p {
                margin: 0;
            }
        }
    }

    &:last-of-type {
        margin-bottom: 3rem;
    }
}

.accordion__trigger {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    align-self: center;
    margin-left: auto;
    position: relative;
    
    span {
        width: 100%;
        height: 1px;
        position: absolute;
        background: black;
        top: 50%;
        transform: translateY(-50%);
        transition: transform .4s;
        &:last-child {
            transform: translateY(-50%) rotate(90deg);
        }
    }
    
    &.active {
        span:last-child {
            transform: translateY(-50%);
        }
    }
}