.contact__modal--container,
.contact__modal--overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.contact__modal--container {
    z-index: 2;
    display: flex;
}

.contact__modal--container[aria-hidden='true'] {
    display: none;
}

.contact__modal--overlay {
    // background-color: rgb(43 46 56 / 0.9);
}

.contact__modal--dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    max-width: 650px;
    z-index: 2;
    backdrop-filter: blur(5px);
    border: 1px solid $white;
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (max-width: 768px) {
    .contact__modal--dialog {
        width: 80vw;
        max-width: 80vw;
    }
    
}

.modal__close {
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    cursor: pointer;
    margin: 2rem 2rem;
    background-color: $white;
}

.modal__close::before,
.modal__close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70%;
    width: 1px;
    background-color: currentColor;
    transform-origin: center;
}

.modal__close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.modal__close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.contact__modal--headline {
    font-family: $mono;
    color: $white;
    font-size: 1.5rem;
    font-weight: 400;
    // padding-bottom: 1.5rem;
}

.contact__modal--subheadline {
    font-family: $mono;
    color: $white;
    font-size: 1rem;
    line-height: 1.45;
}

.contact__modal--footnote {
    font-family: $mono;
    color: $white;
    font-size: 0.75rem;
    line-height: 1.35;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.contact-form label {
    font-family: $mono;
    color: $white;
    margin-bottom: 0.5rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    box-sizing: border-box;
    font-family: $mono;
}

.contact-form input::selection,
.contact-form textarea::selection {
    background: $black;
    color: $white;
}

.alert.error,
.alert.success {
    color: $white;
    font-family: $mono;
    font-size: 0.75rem;
    margin-top: 0.25rem;
}

.alert.success {
    margin: 6rem auto;
    text-align: center;
}

.field--honeypot {
    position: absolute;
    left: -9999px;
}

input.btn--input {
    cursor: pointer;
    border: 1px solid $white;
    width: auto;
    margin: 1.5rem auto;
    padding: 0.825rem 1rem;
    display: inline-flex;
    justify-content: center;
}