.media {
    position: relative;
    display: flex;
    flex-direction: column;

    &.align-x--left {
        align-items: flex-start;    
    }
    &.align-x--center {
        align-items: center;    
    }
    &.align-x--right {
        align-items: flex-end;    
    }

    &__inner {
        width: 100%;
        max-width: var(--max-width, 'unset');
        img, video {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
        }
    }

    .video, .svg {
        position: relative;
        width: 100%;
        overflow: hidden;

        &--auto {
            aspect-ratio: unset;
        }
        &--square {
            aspect-ratio: 1 / 1;
        }
        &--two-three {
            aspect-ratio: 2 / 3;
        }
        &--three-two {
            aspect-ratio: 3 / 2;
        }
        &--three-four {
            aspect-ratio: 3 / 4;
        }
        &--four-three {
            aspect-ratio: 4 / 3;
        }
        &--four-five {
            aspect-ratio: 4 / 5;
        }
        &--five-four {
            aspect-ratio: 5 / 4;
        }
        &--sixteen-nine {
            aspect-ratio: 16 / 9;
        }
    
        &:not(&--auto) {
            video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

}