.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    padding-left: 2rem;
    padding-right: 2rem;
}

.footer__logo,
.footer__logomark {
    display: block;
    svg {
        display: block;
        width: 100%;
    }
}

.footer__logo {
    display: none;
    width: 48px;

    @media only screen and (min-width: $laptop) {
        display: block;
    }
}

.footer__logomark {
    width: 142px;
    margin-bottom: .5rem;
    @media only screen and (min-width: $laptop) {
        margin-bottom: 2rem;
    }
}

.footer-inner {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: min-content;
    grid-column-gap: 0;
    grid-row-gap: 2rem;
    overflow-x: clip;
    max-width: 100%;
    width: 100%;

    @media only screen and (min-width: $laptop) {
        grid-column-gap: 8rem;
        grid-row-gap: 2rem;
        grid-template-columns: repeat(6, 1fr);
        // grid-template-rows: repeat(3, 1fr);
    }
}

.footer__contact,
.footer__menu,
.copyright {
    letter-spacing: .075em;
    text-transform: uppercase;
}
    
.footer__find {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    grid-area: 1 / 1 / 2 / 3;

    @media only screen and (min-width: $laptop) {
        align-items: flex-start;
        grid-area: 1 / 1 / 4 / 3;
    }
}

.footer__contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: $text--small;
    gap: 3rem;

    @media only screen and (min-width: $laptop) {
        align-items: flex-start;
        gap: 4rem;
    }

    ul {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media only screen and (min-width: $laptop) {
            align-items: flex-start;
        }
    }
}

.footer__booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    grid-area: 2 / 1 / 3 / 3;
    margin-top: 3rem;

    @media only screen and (min-width: $laptop) {
        flex-direction: row;
        grid-area: 1 / 3 / 2 / 7;
        margin-top: 0;
    }

    .booking-link {
        margin-top: -1.5rem;
    }
}

.booking-message {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media only screen and (min-width: $laptop) {
        align-items: flex-start;
    }
}

.footer__message {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-area: 3 / 1 / 4 / 3;
    margin-bottom: 1rem;
    margin-top: 3rem;
    max-width: 100%;

    @media only screen and (min-width: $laptop) {
        align-items: flex-start;
        grid-area: 2 / 3 / 5 / 7;
        margin-bottom: 0;
        margin-top: 0;
    }

    p {
        margin-bottom: 1rem;
        text-align: center;

        @media only screen and (min-width: $laptop) {
            margin-bottom: 0;
            text-align: left;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 0;
        margin-top: 0;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        width: 100%;

        @media only screen and (min-width: $laptop) {
            margin-bottom: 2rem;
            margin-top: 1rem;
        }

        textarea {
            resize: vertical;
            max-width: 100%;
            width: 100%;
        }

        > div {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            position: relative;
            width: 100%;

            @media only screen and (min-width: $laptop) {
                flex-direction: row;
            }

            > div {
                display: flex;
                flex-direction: column;
                flex: 1;
                position: relative;

                &:focus-within {
                    label {
                        display: block;
                    }

                    input::placeholder,
                    textarea::placeholder {
                        opacity: 0;
                    }
                } 

                input,
                textarea {
                    appearance: none;
                    background: transparent;
                    border: 1px solid currentColor;
                    // border-radius: 2rem;
                    font-size: $text--small;
                    margin-top: 1.5rem;
                    padding: 1rem 1.5rem;
                    position: relative;
                    font-family: inherit;
                }

                label,
                input::placeholder,
                textarea::placeholder {
                    display: none;
                    font-size: $text--small;
                    left: 1.5rem;
                    letter-spacing: .075em;
                    position: absolute;
                    
                    // transform: translateY(2.625rem);
                    text-transform: uppercase;
                }
            }
        }

        .form__submit {
            bottom: 0;
            position: absolute;
            right: .25em;
            top: 0;

            input {
                border: 0;
            }

            &::after {
                border-top: 1px solid currentColor;
                border-right: 1px solid currentColor;
                bottom: 0;
                content: '';
                height: 1rem;
                width: 1rem;
                pointer-events: none;
                position: absolute;
                right: 1rem;
                top: 2.65rem;
                z-index: 10;
            }

            &::before {
                border-left: 1px solid currentColor;
                bottom: 0;
                content: '';
                height: 1.2rem;
                width: 1rem;
                pointer-events: none;
                position: absolute;
                transform: rotate(45deg);
                right: .7rem;
                top: 2.9rem;
                z-index: 10;
            }
        }
    }
}


.social-links,
.legal-links {
    display: flex;
    font-size: $text--small;
    flex-direction: column;
    gap: 2rem;

    @media only screen and (min-width: $laptop) {
        gap: 4rem;
    }
}

.social-links {
    grid-area: 4 / 1 / 5 / 2;
    justify-content: flex-end;

    @media only screen and (min-width: $laptop) {
        grid-area: 4 / 1 / 6 / 3;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

.legal-links {
    align-items: flex-end;
    grid-area: 4 / 2 / 5 / 3;
    justify-content: flex-start;

    @media only screen and (min-width: $laptop) {
        grid-area: 5 / 3 / 6 / 7;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: flex-start;
        text-align: right;

        @media only screen and (min-width: $laptop) {
            justify-content: flex-end;
            flex-direction: row;
            gap: 2rem;
            text-align: left;
        }
    }
}