.error {
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    padding-bottom: calc(var(--nav-bar-height, 6rem) + 1.5rem);
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        text-align: center;
        padding: 0 2rem;
    
        @include breakpoint($laptop) {
            padding: 0;
        }

        .btn {
            margin: 0 auto;
        }
    }
}