.align-x--left {
    align-items: flex-start;
}

.align-x--center {
    align-items: center;
    text-align: center;
}

.align-x--right {
    align-items: flex-end;
}

.align-y--top {
    align-self: flex-start;
    @include breakpoint($laptop) {
    }
}

.align-y--center {
    align-self: center;
    @include breakpoint($laptop) {
    }
}

.align-y--bottom {
    @include breakpoint($laptop) {
    }
        align-self: flex-end;
}

.align-y--stretch {
    align-self: stretch;
    @include breakpoint($laptop) {
    }
}