.footer {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    padding: 3rem 2rem .875rem;

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);


        &__column {
            display: flex;
            flex-direction: column;
        }
    }

    &__credits {
        align-self: center;
    }
}