.footer {
    min-height: 85vh;
    min-height: 85svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    padding-left: 2rem;
    padding-right: 2rem;
}